{% extends "base.html" %} 

{% load static %} 

{% block title %}Edit Listing{% endblock %} 

{% block content %}
<div class="mx-4">
  <div
    class="bg-gray-50 border border-gray-200 p-10 rounded max-w-lg mx-auto mt-24"
  >
    <header class="text-center">
      <h2 class="text-2xl font-bold uppercase mb-1">Edit Gig</h2>
      <p class="mb-4">Edit: {{ form.instance.job_title }}</p>
    </header>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Company Name Field -->
      <div class="mb-6">
        <label
          for="{{ form.company_name.id_for_label }}"
          class="inline-block text-lg mb-2"
          >Company Name</label
        >
        {{ form.company_name }} {% for error in form.company_name.errors %}
        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <!-- Job Title Field -->
      <div class="mb-6">
        <label
          for="{{ form.job_title.id_for_label }}"
          class="inline-block text-lg mb-2"
          >Job Title</label
        >
        {{ form.job_title }} {% for error in form.job_title.errors %}
        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <!-- Job Location Field -->
      <div class="mb-6">
        <label
          for="{{ form.location.id_for_label }}"
          class="inline-block text-lg mb-2"
          >Job Location</label
        >
        {{ form.location }} {% for error in form.location.errors %}
        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <!-- Contact Email Field -->
      <div class="mb-6">
        <label
          for="{{ form.email.id_for_label }}"
          class="inline-block text-lg mb-2"
          >Contact Email</label
        >
        {{ form.email }} {% for error in form.email.errors %}
        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <!-- Tags Field -->
      <div class="mb-6">
        <label
          for="{{ form.tags.id_for_label }}"
          class="inline-block text-lg mb-2"
          >Tags (Comma Separated)</label
        >
        {{ form.tags }} {% for error in form.tags.errors %}
        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
        {% endfor %}
      </div>

    <!-- Website URL Field -->
    <div class="mb-6">
      <label
        for="{{ form.website_url.id_for_label }}"
        class="inline-block text-lg mb-2"
      >
        Website URL
      </label>
      {{ form.website_url }}
      {% for error in form.website_url.errors %}
      <p class="text-red-500 text-xs mt-1">{{ error }}</p>
      {% endfor %}
    </div>

      <!-- Company Logo Field -->
      <div class="mb-6">
        <label for="id_logo" class="inline-block text-lg mb-2"
          >Company Logo</label
        >
        <input
          type="file"
          name="logo"
          id="id_logo"
          class="border border-gray-200 rounded p-2 w-full"
        />
        {% if form.instance.logo %}
        <div class="flex justify-center mt-4">
          <img
            src="{{ form.instance.logo.url }}"
            class="w-32 h-32 object-fit"
            alt="Company Logo"
          />
        </div>
        {% endif %} {% for error in form.logo.errors %}
        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <!-- Job Description Field -->
      <div class="mb-6">
        <label
          for="{{ form.description.id_for_label }}"
          class="inline-block text-lg mb-2"
          >Job Description</label
        >
        {{ form.description }} {% for error in form.description.errors %}
        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <!-- Submit Button -->
      <div class="mb-6">
        <button
          type="submit"
          class="bg-laravel text-white rounded py-2 px-4 hover:bg-black text-lg"
        >
          Update Gig
        </button>
        <a href="{% url 'manage_listings' %}" class="text-black ml-4">Back</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
