{% extends "base.html" %} 

{% block title %}Register {% endblock %} 

{% block content %}
<div class="mx-4">
  <div class="bg-gray-50 border border-gray-200 p-10 rounded max-w-lg mx-auto mt-24">
      <header class="text-center">
          <h2 class="text-2xl font-bold uppercase mb-1">Register</h2>
          <p class="mb-4">Create an account to post gigs</p>
      </header>

      <form method="post" action="{% url 'register' %}">
          {% csrf_token %}
          
          <!-- Username Field -->
          <div class="mb-6">
              <label for="id_username" class="inline-block text-lg mb-2">Username</label>
              {{ form.username }}
              {% if form.username.errors %}
                  <p class="text-red-500 text-xs mt-1">{{ form.username.errors }}</p>
              {% endif %}
          </div>

          <!-- Email Field -->
          <div class="mb-6">
              <label for="id_email" class="inline-block text-lg mb-2">Email</label>
              {{ form.email }}
              {% if form.email.errors %}
                  <p class="text-red-500 text-xs mt-1">{{ form.email.errors }}</p>
              {% endif %}
          </div>

          <!-- Password1 Field -->
          <div class="mb-6">
              <label for="id_password1" class="inline-block text-lg mb-2">Password</label>
              {{ form.password1 }}
              {% if form.password1.errors %}
                  <p class="text-red-500 text-xs mt-1">{{ form.password1.errors }}</p>
              {% endif %}
          </div>

          <!-- Password2 Field -->
          <div class="mb-6">
              <label for="id_password2" class="inline-block text-lg mb-2">Confirm Password</label>
              {{ form.password2 }}
              {% if form.password2.errors %}
                  <p class="text-red-500 text-xs mt-1">{{ form.password2.errors }}</p>
              {% endif %}
          </div>

          <!-- Submit Button -->
          <div class="mb-6">
              <button type="submit" class="bg-laravel text-white rounded py-2 px-4 hover:bg-black">Sign Up</button>
          </div>

          <!-- Login Redirect -->
          <div class="mt-8">
              <p>
                  Already have an account?
                  <a href="{% url 'login' %}" class="text-laravel">Login</a>
              </p>
          </div>
      </form>
  </div>
</div>


{% endblock %}
