{% load static %}

<nav class="flex justify-between items-center mb-4">
  <!-- Logo with Static File Reference -->
  <a href="{% url 'listings' %}">
    <img
      class="w-24"
      src="{% static 'images/logo.png' %}"
      alt="LaraGigs Logo"
      class="logo"
    />
  </a>

  <!-- Navigation Links -->
  <ul class="flex space-x-6 mr-6 text-lg">
    {% if request.user.is_authenticated %}
      <li> 
        <span class="font-bold">WELCOME {{ request.user.first_name|default:request.user.username|upper }}</span>
      </li>
      <li>
        <a href="{% url 'manage_listings' %}" class="hover:text-laravel">
          <i class="fa-solid fa-gear"></i> Manage listings
        </a>
      </li>
      <li>
        <a href="{% url 'logout' %}" class="hover:text-laravel">
          <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
        </a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'register' %}" class="hover:text-laravel">
          <i class="fa-solid fa-user-plus"></i> Register
        </a>
      </li>
      <li>
        <a href="{% url 'login' %}" class="hover:text-laravel">
          <i class="fa-solid fa-arrow-right-to-bracket"></i> Log-in
        </a>
      </li>
    {% endif %}
  </ul>
</nav>




  <!-- Navigation Links -->
  {% comment %} <ul class="flex space-x-6 mr-6 text-lg">
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'manage_listings' %}" class="hover:text-laravel">
          Manage Gigs
        </a>
      </li>
      <li>
        <a href="{% url 'logout' %}" class="hover:text-laravel">
          <i class="fa-solid fa-arrow-right-to-bracket"></i> Logout
        </a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'register' %}" class="hover:text-laravel">
          <i class="fa-solid fa-user-plus"></i> Register
        </a>
      </li>
      <li>
        <a href="{% url 'login' %}" class="hover:text-laravel">
          <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
        </a>
      </li>
    {% endif %}
  </ul>
</nav> {% endcomment %}
